<%- include('partials/header.ejs'); -%>


<div class="media">

    <form action="/login" method="get">
        <button class="loginButton ">login</button>
    </form>
    <form action="/register" method="get">
        <button class="loginButton ">register</button>
    </form>
</div>


<%- include('partials/footer.ejs'); -%>